---
layout: archive
title: "Research (Under Construction)"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

This is a movie of a cosmological simulation with the sub-grid turbulent dynamo model.

The first row in the following movie shows the matter density evolution in z, x, y-direction projection respectively.
The second row is the evolution of magnetic pressure in units of Barye.

<iframe width="560" height="315" src="https://www.youtube.com/embed/DhNhyX7Wrso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

